<% @posts.each do |post| %>
<h2><%= post.title %></h2>
  <p><%= sanitize(post.content[0, 150], tags:[]) %>...</p>
  <span class="panel">
    <%= link_to "Zobacz więcej...", post_path(post.id) %>
    <%= link_to "Usuń", post_path(post.id), method: :delete , class: 'right'%>
  </span>
  <hr>
<% end %>