/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

* {
    box-sizing: border-box;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body, html {
    display: flex;
    margin: 0;
    width: 100%;
    letter-spacing: 0.1em;
    font-family: 'Nunito', sans-serif;
    -webkit-animation: fadein 0.5s;
    -moz-animation: fadein 0.5s;
    -o-animation: fadein 0.5s;
    animation: fadein 0.5s;
}

nav {
    background: #474754;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
    padding: 64px;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav div {
    position: absolute;
    bottom: 0;
    left: 35px;
    padding: 0 0 35px 0;
}

article {
    width: 75%;
    padding: 64px;
    color: #474754;
    margin-left: 35%;
    min-height: 100vh;
}

h2 {
    font-size: 2.7em;
    margin: 0;
}

h1 {
    text-transform: uppercase;
    font-size: 2em;
}

a, li, p, pre {
    line-height: 1.8;
}

input[type=text], textarea, input[type=submit], input[type=email], input[type=password] {
    border: none;
    color: #000;
    border-bottom: 1px solid #ddd;
    font-size: 22px;
    padding: 15px;
    width: 100%;
}

textarea {
    resize: none;
    font-family: Nunito, sans-serif;
}

input[type=submit] {
    margin-top: 15px;
    background: #f5f5f5;
    border: 0;
    color: #777;
}

.huge {
    height: calc(100vh - 270px);
}

a {
    text-decoration: none;
    color: inherit;
    transition: ease-in-out 2s;
}

a:hover {
    color: #111;
    transition: ease-in-out 0.4s;
}

img {
    max-width: 100%;
}

blockquote {
    background-color: #ecf0f1;
    padding: 1em;
}

pre {
    background-color: #474754;
    color: white;
    padding: 1em;
    white-space: pre-wrap;
}

hr {
    margin: 2rem 0;
    height: 1px;
    background-color: #ecf0f1;
    border: none;
}

.date {
    color: #777;
    font-size: 12px;
    margin: 0 0 15px;
}

table {
    width: 100%;
    text-align: center;
}

@font-face {
    font-family: Nunito;
    src: url('Nunito.ttf');
}

@media (max-width: 768px) {
    nav {
        position: absolute;
        display: flex;
        width: 100vw;
        height: 35%;
        justify-content: center;
        text-align: center;
    }

    nav input {
        position: absolute;
        top: 10%;
        right: 10%;
        padding: 10px;
    }

    nav * {
        margin: 0;
        padding: 0;
    }

    nav div {
        display: none;
    }

    article {
        width: 100vw;
        margin: 35vh 0 0 0;
        padding: 5%;
        text-align: center;
    }

    blockquote {
        margin: 0;
    }
}