<% @posts.each do |post| %>
  <h2><%= link_to post.title, post_path(post.id) %></h2>
  <small><%= post.created_at.strftime('%F') %></small>
  <%= image_tag post.image if post.image.attached? %>
  <p><%= sanitize post.content %></p>
  <hr>
<% end %>