<% @posts.each do |post| %>
  <h2><%= link_to post.title, post_path(post.id) %></h2>
  <p class="date"><%= post.created_at.strftime('%F') %></p>
  <p><%= post.content %></p>
  <% if user_signed_in? %>
    <%= link_to "Usuń", post_path(post.id), method: :delete %>
  <% end %>
<% end %>